:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  font-size: 16px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  background: #F2F4F6;
  height: 100vh;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 900px) {
  #landing-page-image {
    top: 0% !important;
  }
}

@media screen and (max-width: 600px) {
  :root {
    font-size: 13px;
  }
}